
*{
  box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px, 70px, 25px, 70px;
    overflow: hidden;
    background-image: linear-gradient(rgb(129, 248, 200),rgb(129, 248, 224), rgb(129, 230, 248), rgb(129, 220, 248), rgb(129, 214, 248), rgb(129, 185, 248), rgb(129, 151, 248), rgb(129, 141, 248), rgb(131, 129, 248));
}

.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    color:black;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    word-spacing: normal;
    letter-spacing: 1px;
    margin: 0px, 0px, 7px, 0px;
    line-height: 32px;
    
}

.container {
    max-width: 420px;
    width: 100%;
    background-color: white;
    padding:25px;
    padding-top: 15px;
    padding-left: 30px;
    border-radius: 5px;
}

.submit-new-task {
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background:rgb(133, 0, 136);
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s e

}
.add-new-task{
    display:flex;
    font-size: 45px;
    height: 40px;  
    color: rgb(191, 191, 197);
    max-height: 45px;
    margin-bottom: 35px;
}

.input-todo{
    width: 90%;
    padding: 0px 5px 5px 15px;
    height:40px;
    border: 1px solid silver;
    outline:none;
    color: rgb(204, 204, 208);
    font-size: 23px;
    transition: all 0.4s ease;
    padding-left: 15PX;
}

.input-todo::placeholder{
    color: rgb(88, 88, 96)
}

.todolist{
    padding-left: 2px;
    height: auto;
}
.todolist li{
    position:relative;
    line-height:45px ;
    margin-bottom: 9px;
    background: #f2f2f2;
    overflow: hidden;
    cursor:pointer;
    border-radius: 5px;
    word-wrap: break-word;
    padding-left: 20px;
}

.pending button{
    color:#fff;
    background: rgb(133, 0, 136);
    font-weight: 500;
    font-size: 20px;
    outline: none;
    border:none;
    border-radius: 5px;
    padding:7px;
    transition: all 0.3s ease;
    opacity:0.6;
}




