body {
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px, 90px, 25px, 90px;
    overflow: hidden;
    background-image: linear-gradient(rgb(129, 230, 248),rgb(129, 220, 248),rgb(129, 214, 248),rgb(129, 185, 248),rgb(129, 151, 248),rgb(129, 141, 248),rgb(131, 129, 248));
}

.header{
    color:black;
    text-align: left;
    font-size: 60px;
    font-weight: 700;
    word-spacing: normal;
    letter-spacing: 1px;
    margin: 0px, 0px, 10px, 0px;
    
}

.container {
    max-width: 60%;
    width: 100%;
    max-height: 90%;
    height: 100%;
    background-color: white;
    padding:25px;
    padding-top: 15px;
    padding-left: 30px;
    border-radius: 5px;
}

.submit-new-task {
    width: 35px;
    height: 35px;
    border:none;
    background-color: blueviolet;
    background-image: url(plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    flex-shrink: 0 ;
    border-radius: 2px;

}
.add-new-task{
    display:flex;
    font-size: 45px;
    height: 40px;
    
}
